*.obj
*.tlog
*.exe
*.aps
*.res
*.pch
*.log
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.db
*.opendb
*.dds
*.iobj
*.ipdb
*.db-wal
*.db-shm
*.ilk
*.vs

/build

# Output of .github/appimage/make-appimage.sh when run locally
/.github/appimage/dist